.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* SLIM modal */
.modal-container {
  background: #fff;
  width: 95%;
  max-width: 600px;   /* smaller width */
  max-height: 90vh;

  border-radius: 10px;
  padding: 20px;      /* smaller padding */

  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
  overflow-y: auto;
}

.modal-title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.modal-container .form-control,
.modal-container .form-select {
  border-radius: 6px;
}


/* Buttons */
.modal-btn {
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
}

.modal-btn-upload {
  background: #243c8f;
}

.modal-btn-cancel {
  background: #dc3545;
  border: none;
}

.modal-btn-cancel:hover {
  background: #bb2d3b;
}

/* Close text button */
.modal-close {
  margin-top: 10px;
  text-align: center;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
}

.modal-close:hover {
  text-decoration: underline;
}

.modal-actions button {
  height: 42px;
}